// _cmn.scssを読み込む
@import "cmn";


// cta__button
.cta__button {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  padding: 18px 34px;
  border-radius: 4px;
  background-color: $pink;
  color: #ffffff;
  line-height: 1.461;
  transition: all 0.3s ease;
  &:hover {
    // background-color: #0062cc;
    // color: #ffffff;
    opacity: 0.6;
  }
  &:active {
    // background-color: #005cbf;
    // color: #ffffff;
    opacity: 0.6;
  }
}