@charset "UTF-8";
@media (max-width: 980px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 981px) {
  .is-sp {
    display: none;
  }
}
* {
  color: #2F3A3A;
}

a {
  color: #2F3A3A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  max-width: 100%;
}
@media (max-width: 980px) {
  body {
    font-size: 16px;
  }
}

.inner {
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .inner {
    padding: 0 20px;
  }
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

@media (max-width: 980px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 981px) {
  .is-sp {
    display: none;
  }
}
* {
  color: #2F3A3A;
}

a {
  color: #2F3A3A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  max-width: 100%;
}
@media (max-width: 980px) {
  body {
    font-size: 16px;
  }
}

.inner {
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .inner {
    padding: 0 20px;
  }
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

header {
  width: 100%;
  padding: 14px 16px;
  box-shadow: 0px 0px 14px 0px #cedfea;
  background-color: #ffffff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /* 左右中央に寄せる */
  max-width: 1200px;
}

.header__logo {
  width: 143px;
  height: 53px;
}

.header__nav > ul {
  display: flex;
  align-items: center;
}

.header__nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E54E6E;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header__nav-link:not(:last-of-type) {
  margin-right: 22px;
}

.header__right__buttons > a:first-child {
  margin-right: 16px;
}

.login {
  background-color: #E54E6E;
}

.header__right__buttons {
  display: flex;
  align-items: center;
}

.cta-min {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #E54E6E;
  color: #ffffff;
  line-height: 1.471;
  width: 145px;
  height: 51px;
  transition: all 0.3s ease;
}

.cta-min:hover {
  opacity: 0.6;
}

.cta-min:active {
  opacity: 0.6;
}

.contact-min {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  color: #E54E6E;
  border: 1px solid #E54E6E;
  line-height: 1.467;
  width: 220px;
  height: 51px;
  transition: all 0.3s ease;
}
.contact-min span {
  font-size: 12px;
}

.contact-min:hover {
  opacity: 0.6;
}

.contact-min:active {
  opacity: 0.6;
}

.main__inner {
  display: flex;
  padding-bottom: 50px;
}

.main__body {
  flex: 0 1 40.18%;
  margin-top: 103px;
}

.mv__lead {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.458;
}
.mv__lead span {
  color: #E54E6E;
}

.mv__ttl {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.458;
}
.mv__ttl span {
  color: #E54E6E;
}

.main__img {
  flex: 0 1 58.6%;
}

.mv__button {
  margin-top: 44px;
}

.feature {
  padding: 70px 0;
  background-color: #f2ffff;
}

.feature__ttl {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin-bottom: 28px;
}
.feature__ttl span {
  color: #E54E6E;
}

.feature__body {
  display: flex;
  justify-content: space-between;
}

.feature__card {
  flex: 0 1 30.88%;
  background-color: #ffffff;
  border: 1px solid #a6d3d3;
  padding: 20px 24px;
  min-height: 273px;
  border-radius: 10px;
}

.feature__card-body {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature__number {
  font-size: 22px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.feature__icon {
  width: 51.66px;
  height: 44px;
  margin-bottom: 10px;
}

.feature__body-ttl {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4615;
  margin-bottom: 10px;
}

.feature__body-text {
  font-size: 14px;
  line-height: 1.428;
  -moz-text-align-last: left;
       text-align-last: left;
}

.vr {
  background-color: #fff;
  padding: 100px 0;
}

.vr__top {
  display: flex;
  margin-bottom: 29px;
}

.vr__top-ttl {
  margin-right: 65px;
}

.vr__top-body {
  width: 71.53%;
}

.vr__top-img {
  margin-bottom: 14px;
}

.vr__top-txt {
  font-weight: 700;
  line-height: 1.4375;
}

.vt__bottom {
  display: flex;
}

.vt__bottom-body {
  width: 48.16%;
  margin-right: 36px;
}

.vt__bottom__img {
  border-radius: 10px;
  margin-bottom: 14px;
}

.vr__bottom__txt {
  font-weight: 700;
  line-height: 1.4375;
}

.enthusiastic {
  background-color: #F2FFFF;
  padding: 100px 0;
}

.enthusiastic__container {
  display: flex;
}

.enthusiastic__body {
  width: 77.24%;
  margin-right: 89px;
}

.enthusiastic__card {
  display: flex;
}
.enthusiastic__card + .enthusiastic__card {
  margin-top: 70px;
}

.enthusiastic__description {
  flex: 0 1 47%;
  margin-right: 36px;
  padding-top: 19px;
}

.enthusiastic__description-ttl {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.462;
  margin-bottom: 16px;
}

.enthusiastic__description-txt {
  font-size: 14px;
  line-height: 1.758;
}

.enthusiastic__img {
  flex: 0 1 47.4%;
}

.dynamic {
  padding: 100px 0;
}

.dynamic__container {
  display: flex;
}

.dynamic__ttl {
  margin-right: 80px;
}

.dynamic__body {
  flex: 0 1 78.163%;
}

.dynamic__card + .dynamic__card {
  margin-top: 70px;
}

@media (max-width: 980px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 981px) {
  .is-sp {
    display: none;
  }
}
* {
  color: #2F3A3A;
}

a {
  color: #2F3A3A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  max-width: 100%;
}
@media (max-width: 980px) {
  body {
    font-size: 16px;
  }
}

.inner {
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .inner {
    padding: 0 20px;
  }
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

.cta__button {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  padding: 18px 34px;
  border-radius: 4px;
  background-color: #E54E6E;
  color: #ffffff;
  line-height: 1.461;
  transition: all 0.3s ease;
}
.cta__button:hover {
  opacity: 0.6;
}
.cta__button:active {
  opacity: 0.6;
}

.vertical-ttl {
  display: inline-block;
  writing-mode: vertical-rl;
  font-size: 56px;
  line-height: 1.4;
  text-orientation: upright; /* すべて縦方向に表示 */
  font-weight: 900;
  letter-spacing: 2px;
}

.vertical-ttl span {
  color: #E54E6E;
  font-weight: 900;
  font-size: 56px;
  line-height: 60px;
  /* または107% */
  text-align: center;
  font-feature-settings: "vert" on;
}

.cmn__card-body {
  flex: 0 1 78.163%;
}

.cmn__card {
  display: flex;
  align-items: center;
}

.cmn__card-img {
  flex: 1 0 44.38%;
  margin-right: 36px;
  min-height: 234px;
}

.cmn__description-ttl {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.461;
  margin-bottom: 16px;
}

.cmn__description-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
}/*# sourceMappingURL=style.css.map */